# ignore everything
/*

# except below:
# Documents and .gitignore file
!README.md
!.gitignore
!/docs/

# GUI codes and resources, excluding pycache files
!/GUI/
*.pyc

# C source code
!main.c

# required libraries
!LPUART*
!ADC*
!PWM*
!clocks_and_modes*
!types_and_commands.h
!init*
